export HTTP_PROXY=http://{% if http_proxy_user is defined %}{{ http_proxy_user }}:{{ http_proxy_password }}@{%endif%}{{ http_proxy_host }}:{{ http_proxy_port }}
export HTTPS_PROXY=http://{% if http_proxy_user is defined %}{{ http_proxy_user }}:{{ http_proxy_password }}@{%endif%}{{ http_proxy_host }}:{{ http_proxy_port }}